/* FormStyles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #7477a7;
  margin: 0;
  padding: 0;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.form-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  color: #555;
}

.form-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px
  solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-button {
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-button:hover {
  background-color: rgb(144, 144, 212);
}

.form-container p {
  margin-top: 10px;
  color: #777;
}

.form-container a {
  color: blue;
  text-decoration: none;
}

.form-container a:hover {
  text-decoration: underline;
}
