.login-form {
  max-width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid Black;
  border-radius: 5px;
  background-color: #f9f9f9;
  animation: fadeInSlideIn 5s ease-in-out;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
  animation: fadeInSlideIn 3s ease-in-out;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  animation: fadeInSlideIn 3s ease-in-out;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: fadeInSlideIn 2s ease-in-out;
}

.login-form button:hover {
  background-color: #0056b3;
  animation: shake 2s;
  animation-iteration-count: infinite;
}

.login-form p {
  margin-top: 10px;
  text-align: center;
  animation: fadeInSlideIn 1s ease-in-out;
}

.login-form p a {
  color: #007bff;
  text-decoration: none;
  animation: fadeInSlideIn 3s ease-in-out;
}

.login-form p a:hover {
  text-decoration: underline;
}

/* Slide Up and Fade In Animation */
@keyframes fadeInSlideIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Shake Animation */
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}
